Chat_bot_fastapi.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "request",
        "responseMode": "responseNode",
        "options": {
          "ignoreBots": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        -20
      ],
      "id": "1fb135ac-c967-40ec-a236-030a67afb78f",
      "name": "Webhook",
      "webhookId": "17618898-086b-4b2e-abb3-4f6f967ac808"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Actúa como un asistente simpático y con buen sentido del humor. Responde de forma breve, clara y amigable. Aquí va la pregunta del usuario: \"{{ $json.body.pregunta }}\".\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        20,
        -20
      ],
      "id": "88635745-6618-4be4-bcb6-69f34d44c5a9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        180
      ],
      "id": "438396ad-6ce8-465c-a4a9-d85ab2313f9d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "22jWemo2wOL74v0v",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        740,
        -20
      ],
      "id": "f8582248-ded1-4026-99d0-a76cf6e00e26",
      "name": "Respond to Webhook",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Obtenemos la respuesta del primer item\noutput = items[0].get('json', {}).get('output', \"Sin respuesta 😅\")\n\n# Devolvemos la respuesta en formato JSON seguro\nreturn [\n    {\n        \"json\": {\n            \"Respuesta\": output,\n        }\n    }\n]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        -20
      ],
      "id": "c255e495-55db-4458-ab56-f05ab97e6488",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f5f85b34-9fda-4fe8-94cf-47083e60be33",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dee63c45857ffcaa9deeb87f76f356773d9c5875db81d4e2eafaab577bcea7fc"
  },
  "id": "FH1JdgEMMXar4lGW",
  "tags": []
}